body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    background-color: transparent;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.user_regs_h1 {
    margin-top: 20px;
}

.registrationForm {
    margin-top: 10px;
    border: 1px;
    padding: 20px;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 400px) {

    body {
        height: auto; /* Позволяет прокрутку вниз */
    }

    .user_regs_h1 {
        font-size: 2em;
        margin-top: 15px;
    }

    .registrationForm {
        width: 95%;
        margin-top: 10px;
        border: 1px;
        padding: 10px;
    }

    form {
        width: 95%;
        margin-top: 75px;
        margin: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="email"],
    button {
        padding: 7px;
        font-size: 1em;
    }

    .registr {
        margin-top: 20px;
        text-align: center;
    }

    p a {
        color: #4CAF50;
        text-decoration: none;
    }

    p a:hover {
        color: blue;
        text-decoration: none;
    }
