.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px;
    #min-width: 200px;
    width: 70%;
    z-index: 1;
    max-height: 150px; /* Ограничение высоты */
    overflow-y: auto; /* Вертикальная прокрутка */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    left: 50%; /* Позиционирование по центру */
    transform: translateX(-50%); /* Сдвиг для центрирования */
    text-align: left;
}


.dropdown-content label {
    display: block;
    margin-bottom: 10px;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.selected-items {
    padding: 8px;
    border: 1px solid #fff;
    min-width: 200px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 15px;
}