{% extends 'main/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <section class="about">
        <h2>Добро пожаловать в Eventory!</h2>

        <p>Eventory — это учебный проект, созданный студентами для студентов, который нацелен на упрощение процесса регистрации на мероприятия и участие в них. Мы разрабатываем эту платформу в рамках нашего обучения, и она представляет собой наш вклад в развитие онлайн-сообществ.</p>

        <h2>Наша миссия</h2>
        <p>Создать удобный инструмент, который поможет людям находить и участвовать в интересных событиях. Мы считаем, что участие в мероприятиях способствует развитию навыков, обмену опытом и налаживанию связей.</p>

        <h2>Что мы предлагаем:</h2>
        <ul>
            <li><strong>Легкая регистрация:</strong> Простой и интуитивно понятный процесс создания аккаунта и регистрации на мероприятия.</li>
            <li><strong>Личный кабинет:</strong> Отслеживайте свои мероприятия, получайте напоминания и управляйте своим участием.</li>
            <li><strong>Разнообразие событий:</strong> От образовательных семинаров до культурных мероприятий — у нас есть всё!</li>
            <li><strong>Обучение и развитие:</strong> Мы учимся создавать качественный продукт и стремимся сделать его максимально полезным для пользователей.</li>
        </ul>

        <h2>Наша команда</h2>
        <p>Состоит из студентов, которые стремятся к развитию в сфере разработки и технологий. Этот проект является для нас не только возможностью применить полученные знания, но и шансом создать что-то полезное для общества.</p>

        <h2>Авторы проекта</h2>
        <p><strong>Касьянов Ростислав</strong></p>
        <p>Kasyanovrus90@gmail.com</p>
        <p><a href="https://github.com/adminfromKRSK24">github.com/adminfromKRSK24</a></p>
        <br>
        <p><strong>Шушаков Алексей</strong></p>
        <p>Alexeyshu86@mail.ru</p>
        <p><a href="https://github.com/Alexeyshu86">github.com/Alexeyshu86</a></p>
    </section>

    <a href="{% url 'home' %}"><button type="submit" class="btn">На главную</button></a>
{% endblock %}